[Unit]
Description=unifi controller
Requires=docker.service
BindsTo=docker.service
After=docker.service

[Service]
Restart=always
User=pirate
WorkingDirectory=/home/pirate/unifi
ExecStart=/bin/bash /home/pirate/unifi/start.sh
ExecStop=/bin/bash /home/pirate/unifi/stop.sh

[Install]
WantedBy=multi-user.target
