[Unit]
Description=unifi controller
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/home/pirate/unifi/start.sh
ExecStop=/home/pirate/unifi/stop.sh

[Install]
WantedBy=local.target
